<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="icon" href="public/assets/img/logo.png">
    <link rel="stylesheet" href="public/css/index.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="menu-toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li class="logo"><img src="public/assets/img/logo.png"></li>
            <li><a href="/" class="active">Home</a></li>
            {{if .Login.IsLogin}}
            <li><a href="/project" class="">My Project</a></li>
            {{end}}
            <div class="sub-navbar">
                {{if .Login.IsLogin}}
                <li class="register"><a href="">Hello, {{.Login.Name}} </a></li>
                <li class="login"><a href="/logout" onclick="return confirm('Are you sure?')">Logout</a></li>
                {{else}}
                <li class="register"><a href="/register">Register</a></li>
                <li class="login"><a href="/login">Login</a></li>
                {{end}}
                <li class="liContact"><a href="/contact" class="aContact">Contact Me</a></li>
            </div>
        </ul>
    </nav>
    <!-- End navbar -->

    <!-- Messade Box -->
    {{if .Login.IsLogin}}
        <div class="message">{{.Login.FlashData}}</div>
    {{end}}
    <!-- End message box -->
    
    <!-- Content -->
    <section class="content-container">
        <div class="content">
            <div class="sub-content">
                <div class="biodata">
                    <h2>Hi Wellcome to my hut</h2>
                    <p>Hallo nama saya Rafi Alfian, biasa dipanggil Rafi, saya tinggal di dusun Dorang, Kecamatan Nalumsari, Kabupaten Jepara. Hobi saya ngoding dan rebahan sambil main game</p>
                    <button type="submit" class="btn-contact"><a href="https://wa.me/628979638899" target="_blank">contact</a></button>
                    <a href="https://bootstrap-website-three.vercel.app/" class="downloadCv" target="_blank">download CV <img src="public/assets/img/download.png"></a>
                </div>
        
                <!-- Icons -->
                <div class="icon">
                    <a href="https://web.facebook.com/rafi.alfian.96/" target="_blank"><img src="public/assets/img/facebook.png" alt="facebook"></a>
                    <a href="" target="_blank"><img src="public/assets/img/instagram.png" alt="instagram"></a>
                    <a href="https://www.linkedin.com/in/rafi-alfian-95a755255/" target="_blank"><img src="public/assets/img/linkedin.png" alt="linkedin"></a>
                    <a href="https://github.com/rafialfian10" target="_blank"><img src="public/assets/img/github.png" alt="github"></a>
                </div>
            </div>
    
            <!-- Card-Profile -->
            <div class="card">
                <img src="public/assets/img/saitama.png" alt="Profile">
                <div class="card-content">
                    <h3>Rafi Alfian</h3>
                    <p>Fullstack Developer</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End content --> 

     <!-- Cards -->
     <section>
        <h2 class="title">MY PROJECT</h2>
        <div class="card-container" id="card-container"> 
             <!-- Looping DataProjects dari function HandleHome  -->
             {{range $i, $data := .Projects}}
            <div class="cards">
                <img src="uploads/{{$data.Image}}" class="card-image">
                <h3><a href="/project-detail/{{$data.Id}}" target="_blank">{{$data.ProjectName}}</a></h3>
                <p class="date">  {{.DurationTime $data.StartDate $data.EndDate}} | {{$data.Author}}</p>
                <p class="desc">{{$data.Desc}}</p>
                <div class="icons">
                    {{range $index, $icon := $data.Tech}}
                        <img src="/public/assets/img/{{$icon}}.png">
                    {{end}}
                </div>
                
                <div class="btn">
                    <a href="/edit-project/{{$data.Id}}" onclick="return confirm('Are you sure?')" class="btn-edit">edit</a>
                    <a href="/delete/{{$data.Id}}" onclick="return confirm('Are you sure?')" class="btn-delete" >delete</a>
                </div>
          
            </div>
            {{end}}
        </div>
    </section>
    <script src="public/js/index.js"></script>
</body>
</html> 